<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="base_css">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/css/common.css}"/>
</div>

<div th:fragment="bootstrapvalidator_css">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/bootstrapvalidator/css/bootstrapValidator.css}"/>
</div>

<div th:fragment="dataTables_css">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/dataTables/dataTables.bootstrap.css}"/>
</div>

<div th:fragment="bootstrapFileinput_css">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/bootstrapFileinput/fileinput.css}"/>
</div>

<div th:fragment="bootstrapTree_css">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/bootstrapTree/css/bootstrap-treeview.css}"/>
</div>

</body>
</html>