<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <title>用户信息</title>

</head>
<body>
<div class="check-div form-inline ">
    <div class="col-xs-16">
        <label>用户名：</label>
        <input id="user_Name" th:value="${sysUser.userName}" class="form-control input-sm"
               type="text"/>
        <label style="margin-left: 13px;">账号：</label>
        <input id="loginName" th:value="${sysUser.loginName}" class="form-control input-sm"
               type="text"/>
        <label style="margin-left: 13px;">状态：</label>
        <select id="userStatus" th:value="${sysUser.userStatus}" class="form-control" style="height: 34px">
            <option value=""></option>
            <option value="1" th:selected="${sysUser.userStatus == '1'}">正常</option>
            <option value="0" th:selected="${sysUser.userStatus == '0'}">失效</option>
        </select>
        <button class="btn btn-white btn-lg" type="button" onclick="query()" style="margin-left: 50%;">查 询</button>
    </div>
</div>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button shiro:hasPermission="sys_user_add" class="btn btn-yellow btn-xs" data-toggle="modal" onclick="treeView('treeView_add')"
                                data-target="#addSource">添加资源
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>账号</th>
                                    <th>手机</th>
                                    <th>邮箱</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeU" th:each="sysUser : ${result.data.list}">
                                    <td th:text="${sysUser.userName}"></td>
                                    <td th:text="${sysUser.loginName}"></td>
                                    <td th:text="${sysUser.phone}"></td>
                                    <td th:text="${sysUser.email}"></td>
                                    <td th:if="${sysUser.userStatus} eq 1">正常</td>
                                    <td th:if="${sysUser.userStatus} eq 0">失效</td>
                                    <td th:text="${#dates.format(sysUser.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(sysUser.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <button shiro:hasPermission="sys_user_update" class="btn btn-success btn-xs" data-toggle="modal"
                                                data-target="#changeSource"
                                                th:onclick="'javascript:showUpdateUser(\''+${sysUser.id}+
                                                '\',\''+${sysUser.userName}+
                                                '\',\''+${sysUser.loginName}+
                                                '\',\''+${sysUser.phone}+
                                                '\',\''+${sysUser.email}+
                                                '\')'">修改
                                        </button>
                                        <button  shiro:hasPermission="sys_user_del" th:disabled="${sysUser.userStatus} eq 0" class="btn btn-danger btn-xs" data-toggle="modal"
                                                data-target="#deleteSource"
                                                th:onclick="'javascript:saveDelId('+${sysUser.id}+')'">删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="example" style="text-align: center">
                                <ul id="pageLimit"></ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>

</div>


<!--弹出新增资源窗口-->
<div class="modal fade" id="addSource" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增系统用户</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">用户名：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="userName_add" placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label"> 账号：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="loginName_add" placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">密码：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" type="password" id="password_add"
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">手机：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="phone_add" placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">邮箱：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="email_add" placeholder=""/>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-xs-3 control-label">角色：</label>
                            <div class="col-xs-8" id="treeView_add">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-xs btn-green" data-dismiss="modal" onclick="sourceAdd()">保 存
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--弹出删除资源警告窗口-->
<div class="modal fade" id="deleteSource" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">提示</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    确定要删除该资源？删除后不可恢复！
                </div>
            </div>
            <div class="modal-footer">
                <input id="id_del" type="hidden"/>
                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" onclick="deleteById()">
                    确 定
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--修改资源弹出窗口-->
<div class="modal fade" id="changeSource" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal">
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">用户名：</label>
                            <div class="col-xs-8 ">
                                <input type="hidden" id="id_update" placeholder=""/>
                                <input class="form-control input-sm duiqi" id="userName_update" placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label"> 账号：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="loginName_update" placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">密码：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" type="password" id="password_update"
                                       placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">手机：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="phone_update" placeholder=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-xs-3 control-label">邮箱：</label>
                            <div class="col-xs-8 ">
                                <input class="form-control input-sm duiqi" id="email_update" placeholder=""/>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-xs-3 control-label">角色：</label>
                            <div class="col-xs-8" id="treeView_update">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-xs btn-green" data-dismiss="modal" onclick="changeSourceUpdate()">保
                    存
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- JS Scripts-->
<div th:replace="/common/common_js :: bootstrapPaginator_js"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        //分页插件初始化
        var element = $('#pageLimit');//对应下面ul的ID
        var options = {
            currentPage: [[${result.data.pageNum}]],//当前的请求页面。
            totalPages: [[${result.data.pages}]],//一共多少页。
            size: "normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment: "right",
            numberOfPages: [[${result.data.pageSize}]],//一页列出多少数据。
            onPageClicked: function (event, originalEvent, type, page) {
                var userName = $("#user_name").val();
                var loginName = $("#loginName").val();
                var userStatus = $("#userStatus").val();
                $('#rightContent').load("sysUser/query", {
                    "pageNum": page,
                    "userName": userName,
                    "loginName": loginName,
                    "userStatus": userStatus
                });
            },
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            }
        }
        element.bootstrapPaginator(options);
    });


    function query() {
        var userName = $("#user_Name").val();
        var loginName = $("#loginName").val();
        var userStatus = $("#userStatus").val();
        $.ajax({
            url: "sysUser/query",
            type: "post",    //不区分大小写
            data: {"pageNum": 1, "userName": userName, "loginName": loginName, "userStatus": userStatus},
            datatype: 'json',
            success: function (view) {
                $('#rightContent').empty();
                $('#rightContent').append(view);
            },
            error: function (xhr) {
                alert("查询错误");
            }
        });
    }


    function sourceAdd() {
        var roles = getTreeCkeckId();
        $.ajax({
            url: "sysUser/add",
            type: "post",    //不区分大小写
            traditional: true,
            data: {
                "sysId": $("#sysId").val(), "userName": $("#userName_add").val(),
                "loginName": $("#loginName_add").val(), "password": $("#password_add").val(),
                "phone": $("#phone_add").val(), "email": $("#email_add").val(), "roles": roles
            },
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    query();
                } else {
                    errorMsg(result.code,result.msg);
                }

            },
            error: function (err) {
                alert("新增用户系统错误");
                console.log(err);
            }
        });

    }

    function treeView(viewId, userId) {
        $.ajax({
            url: "sysUser/treeInit",
            type: "post",    //不区分大小写
            data: {"id": userId},
            datatype: 'json',
            success: function (view) {
                if (viewId == "treeView_add") {
                    $('#treeView_update').empty();
                } else if (viewId == "treeView_update") {
                    $('#treeView_add').empty();
                }
                $('#' + viewId).empty();
                $('#' + viewId).append(view);
            },
            error: function (err) {
                alert("tree初始化系统错误");
                console.log(err);
            }
        });

    }

    function getTreeCkeckId() {
        var ts = [];
        var checks = $("#treeview-checkable").treeview('getChecked');
        $.each(checks, function (index, value) {
            ts.push(value.id)
        });
        return ts;
    }

     function showUpdateUser(id,userName,loginName,phone,email) {
         $("#id_update").val(id);
         $("#userName_update").val(userName);
         $("#loginName_update").val(loginName);
         $("#phone_update").val(phone);
         $("#email_update").val(email);
         treeView("treeView_update",id);
     }

     function changeSourceUpdate() {
         var sysId=$("#sysId").val();
         var id=$("#id_update").val();
         var userName= $("#userName_update").val();
         var phone=$("#phone_update").val();
         var email=$("#email_update").val();
         var password=$("#password_update").val();
         var roles=getTreeCkeckId();
         if(password||password==""){
             password=null;
         }
         $.ajax({
             url: "sysUser/update",
             type: "post",    //不区分大小写
             traditional: true,
             data: {"sysId":sysId,"id": id,"userName": userName,"phone": phone,
                 "email": email,"password": password,"roles":roles},
             datatype: 'json',
             success: function (result) {
                 if (result.code == "success") {
                     query();
                 } else {
                     alert(result.data.errCode+":"+result.data.errMsg);
                 }
             },
             error: function (err) {
                 alert("更新用户错误");
                 console.log(err);
             }
         });
     }

     function saveDelId(id) {
         $("#id_del").val(id);
     }
     
     function deleteById() {
         var sysId=$("#sysId").val();
         var id=$("#id_del").val();
         $.ajax({
             url: "sysUser/del",
             type: "post",    //不区分大小写
             traditional: true,
             data: {"id": id,"sysId": sysId},
             datatype: 'json',
             success: function (result) {
                 if (result.code == "success") {
                     query();
                 } else {
                     alert(result.data);
                 }

             },
             error: function (err) {
                 alert("删除用户错误");
                 console.log(err);
             }
         });
     }
     
</script>

</body>
</html>