<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8"/>
    <title>bootstrap fileInput demo页面</title>
    <div th:replace="/common/common_css :: base_css"></div>
    <div th:replace="/common/common_css :: bootstrapFileinput_css"></div>
    <div th:replace="/common/common_js :: base_js"></div>
    <div th:replace="/common/common_js :: bootstrapFileinput_js"></div>
</head>

<body>
    <input id="input-id"  name="input-id" type="file" multiple="multiple"  class="file-loading" accept="image/*"/>
</body>
<script>
    $(function () {
        initFileInput("input-id");
    })

    function initFileInput(ctrlName) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: "uploadImage", //上传的地址,当地址为空时，拖拽区域不显示
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: true,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 5, //表示允许同时上传的最大文件个数。当maxFileCount>1时，input需要设置multiple="multiple"属性
            enctype: 'multipart/form-data',
            validateInitialCount:true,//验证初始计数,默认值false
           // previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            //dropZoneEnabled: false,//是否显示拖拽区域,默认true
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！"
        }).on('filepreupload', function(event, data, previewId, index) {     //上传中
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
            console.log('文件正在上传');
        }).on("fileuploaded", function (event, data, previewId, index) {    //一个文件上传成功
            var res = data.response;
            //alert(res.success);
        }).on('fileerror', function(event, data, msg) {  //一个文件上传失败
            console.log('文件上传失败！'+data.id);


        })
    }
</script>

</html>
