                                    <thead>
                                    <tr>
                                        <th>环境</th>
                                        <th>功能</th>
                                        <th>机器名</th>
                                        <th>实在IP</th>
                                        <th>内外网映射IP</th>
                                        <th>虚IP</th>
                                        <th>DEP组播子网IP</th>
                                        <th>用户名/密码</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeU" th:each="idealList : ${idealList}">
                                        <td th:text="${idealList.milieuVal}"></td>
                                        <td th:text="${idealList.function}"></td>
                                        <td th:text="${idealList.machineName}"></td>
                                        <td th:text="${idealList.realIp}"></td>
                                        <td th:text="${idealList.mappingIp}"></td>
                                        <td th:text="${idealList.virtualIp}"></td>
                                        <td th:text="${idealList.depIp}"></td>
                                        <td th:text="${idealList.userPass}"></td>
                                        <td>
                                            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#changeSource">修改</button>
                                            <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteSource">删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
